[submodule "flightctl-mcp"]
	path = flightctl-mcp
	url = https://github.com/flightctl/flightctl-mcp.git
	branch = main
[submodule "lightspeed-stack"]
	path = lightspeed-stack
	url = https://github.com/omertuc/lightspeed-stack
	branch = ownllama
[submodule "inspector"]
	path = inspector
	url = https://github.com/omertuc/inspector
	branch = imager
[submodule "flightctl-ui"]
	path = flightctl-ui
	url = https://github.com/flightctl/flightctl-ui.git
	branch = main
[submodule "llama-stack"]
	path = llama-stack
	url = https://github.com/meta-llama/llama-stack
